<% provide(:title, 'Crew') %>
<h1>Crew</h1>
<p>This will be a list of skippers, crew, and guests. It will allow for searching and filtering on things like...</p>
<ul>
    <li>Name</li>
    <li>Skipper or not</li>
    <li>Status (current, in arrears, etc.)</li>
    <li>Last activity date</li>
    <li>Number of trips</li>
</ul>