<% provide(:title, 'Fleet') %>
<h1>Fleet</h1>
<p>This will be the page that shows the current fleed status, at a glance.</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Boat</th>
                <th scope="col">Status</th>
                <th scope="col">Last Skipper</th>
                <th scope="col">Last Used</th>
                <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-warning">
                <td></td>
                <td>1 - Hudson Ranger</td>
                <td>At Sea</td>
                <td>Dr. Jones</td>
                <td>--</td>
                <td>--</td>
            </tr>
            <tr>
                <td></td>
                <td>2 - Deep Fryer</td>
                <td>Available</td>
                <td>Jim Jones</td>
                <td>20-Oct-2018</td>
            </tr>
            <tr>
                <td></td>
                <td>3 - Butterfly</td>
                <td>Available</td>
                <td>Kim Deal</td>
                <td>1-May-2019</td>
                <td>--</td>
            </tr>
            <tr>
                <td><span class="badge badge-danger">MAINT</span></td>
                <td>4 - Harbor Dweller</td>
                <td>Available</td>
                <td>Sim Jacobs</td>
                <td>20-Oct-2018</td>
                <td>Squeeky spinnaker</td>
            </tr>
            <tr class="table-secondary">
                <td><span class="badge badge-danger">MAINT</span></td>
                <td>5 - Screemer</td>
                <td>Out of Service</td>
                <td>Frank Gofast</td>
                <td>1-May-2019</td>
                <td>6 foot hole in starboard hull</td>
            </tr>
            <tr>
                <td></td>
                <td>6 - The Bug</td>
                <td>Available</td>
                <td>Rick James</td>
                <td>1-May-2019</td>
                <td>--</td>
            </tr>
            <tr>
                <td></td>
                <td>7 - Allstar</td>
                <td>Available</td>
                <td>Sally Sailor</td>
                <td>20-Oct-2018</td>
                <td>--</td>
            </tr>
            <tr>
                <td></td>
                <td>8 - Ranger Rick</td>
                <td>Available</td>
                <td>Omar Jones</td>
                <td>20-Oct-2018</td>
                <td>--</td>
            </tr>
            <tr>
                <td></td>
                <td>9 - G35 Runner</td>
                <td>Available</td>
                <td>Adam Smith</td>
                <td>1-May-2019</td>
                <td>--</td>
            </tr>
            <tr>
                <td></td>
                <td>10 - Spirit of Bayonne</td>
                <td>Available</td>
                <td>Skip Jack</td>
                <td>20-Oct-2018</td>
                <td>--</td>
            </tr>
            <tr>
                <td></td>
                <td>11 - Dock of the Bay</td>
                <td>Available</td>
                <td>Otis Redding</td>
                <td>20-Oct-2018</td>
                <td>--</td>
            </tr>
            <tr>
                <td></td>
                <td>12 - Warlock's Neighbor</td>
                <td>Available</td>
                <td>Kirsten Webber</td>
                <td>20-Oct-2018</td>
                <td>--</td>
            </tr>
        </tbody>
    </table>
</div>