<h1>Float Plans</h1>
<div class="alert alert-primary" role="alert">
  If the current user has an open float plan, a reminder will be displayed here.
</div>
<p>The new float plan button will only be displayed if the user doesn't have an open float plan.</p>
<input type="button" class="btn btn-primary" value="New Float Plan">
<hr>
<p>A list of float plans will be displayed here. If the user is an administrator, they will be able to see all of the float plans--perhaps for the last day or so.</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Skipper</th>
                <th scope="col">Mobile #</th>
                <th scope="col">Date</th>
                <th scope="col">Time Out</th>
                <th scope="col">Time In</th>
                <th scope="col">Boat</th>
                <th scope="col">Crew</th>
                <th scope="col">Guests</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-warning">
                <td><span class="badge badge-dark">AT SEA</span></td>
                <td>Dr. Jones</td>
                <td>(917) 555-2125</td>
                <td>1-May-2019</td>
                <td>13:30</td>
                <td>--</td>
                <td>1 - Hudson Ranger</td>
                <td>1</td>
                <td>0</td>
            </tr>
            <tr>
                <td></td>
                <td>Adam Smith</td>
                <td>(212) 867-5309</td>
                <td>1-May-2019</td>
                <td>13:31</td>
                <td>17:00</td>
                <td>9 - G35 Runner</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td><span class="badge badge-danger">MAINT</span></td>
                <td>Rick James</td>
                <td>(401) 555-4212</td>
                <td>1-May-2019</td>
                <td>13:45</td>
                <td>16:45</td>
                <td>6 - The Bug</td>
                <td>4</td>
                <td>0</td>
            </tr>
            <tr>
                <td></td>
                <td>Kim Deal</td>
                <td>(201) 728-1231</td>
                <td>1-May-2019</td>
                <td>13:28</td>
                <td>16:50</td>
                <td>3 - Butterfly</td>
                <td>4</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>