<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead"><%= app_name %> gets it done.</p>
    <hr>
    <p>To get started, sign in.</p>
    <input type="button" class="btn btn-primary btn-lg" value="Sign in">
</div>

<div class="row">
    <div class="col">
        <div class="card">
          <img src="/assets/boats.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Skippers Needed</h5>
            <p class="card-text">There's a big event happening in the near future and we need skippers.</p>
            <a href="#" class="btn btn-primary">Sign up</a>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
          <img src="/assets/sunset.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Winter Flotilla</h5>
            <p class="card-text">Shake the winter blues with some sunshine!</p>
            <a href="#" class="btn btn-primary">Book now</a>
          </div>
        </div>
    </div>
    <div class="col">
        
    </div>
</div>


