<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is the <%= app_name %> pilot</p>
    <hr>
    <p>Ready to go sailing? Please sign in.</p>
    <input type="button" class="btn btn-primary btn-lg" value="Sign in">
</div>

<div class="row">
  <div class="col-lg-6">
    <h2>What's happening here?</h2>
    <p>This application is in pilot mode at the moment. If you don't have a sign in, dont' worry, you'll get one when the bugs have been worked out.</p>
    <p>In the meantime, please use a printed float plan.</p>
  </div>
  <div class="col-lg-6">
    <%= image_tag "north-cove.jpg", class: "img-fluid" %>
  </div>
</div>
