<% provide(:title, 'Crew') %>
<h1>All Crew</h1>

<%= link_to "New user", new_user_path, class: "btn btn-outline-secondary" %>
<hr>

<%= will_paginate %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Mobile</th>
            <th scope="col" class="d-none d-md-table-cell">Email</th>
            <th scope="col">Last Activity</th>
        </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>

<%= will_paginate %>
