<% provide(:title, 'Crew') %>
<h1>All Crew</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to "#{user.first_name} #{user.last_name}", user %>
    </li>
  <% end %>
</ul>

<pre>

This will be a list of skippers, crew, and guests. It will allow for searching and filtering on things like...

    Name
    Skipper or not
    Status (current, in arrears, etc.)
    Last activity date
    Number of trips

</pre>

