<div class="row">
  <div class="col">
    <h2><%= @user.first_name %> <%=@user.last_name %></h2>
    <% if @user.admin? %>
      <span class="badge-pill badge-secondary">Admin</span>
    <% end %>
    <% if @user.skipper? %>
      <span class="badge-pill badge-primary">Skipper</span>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= link_to number_to_phone(@user.mobile, area_code: true), "tel:+1#{@user.mobile}" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= mail_to @user.email %>
  </div>
</div>


