$bg-light: $gray-100;

.content {
    padding-top: 1rem;
}

.footer {
    margin-top: 1rem;
    color: $secondary;
    padding: 1rem 0;
    width: 100%;
    height: 60px;
    background-color: $bg-light;
}
