<tr>
  <td>
    <% #TODO: This is a mess, make it a helper 2010-05-12 %>
    <% if boat.name.empty? %>
    <% boat_title =  boat.number %>
    <% else %>
    <% boat_title = "#{boat.number} - #{boat.name}" %>
    <% end %>
    
    <% if current_user.admin? %>
    <%= link_to boat_title, edit_boat_path(boat) %>
    <% else %>
    <%= boat_title %>
    <% end %>
  </td>
  <td><%= boat.note %></td>
  <td class="d-none d-md-table-cell"><%= distance_of_time_in_words(boat.updated_at, Time.now) %> ago</td>
</tr>