<div class="row">
  <div class="col-4">
    Time in
  </div>
  <div class="col-8">
    <%= format_time_human(@plan.time_in) %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    Checkin complete?
  </div>
  <div class="col-8">
    <%= @plan.checkin_complete %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    Checkin Notes
  </div>
  <div class="col-8">
     <%= @plan.notes_in %>
  </div>
</div>