<!DOCTYPE html>
<html lang="en">
  
  <%= render 'layouts/head' %>

  <body>
    
    <%= render 'layouts/navigation' %>
    
    <div class="container content">
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
    
  </body>
</html>
